$white: #FFFFFF;
$dark: #292929;
$deep-black: #121C21;
$primary: #5559F4;
$secondary: #f2f1ff;
$danger: #FF464F;
$yellow: #FFBC25;
$success: #5AB413;
$bg-color: #f6f6fb;
$gray: (
        200: #F5F5F5,
        400: #D7D7D7,
        500: #777777,
        600: #858DAE,
);
$forms-text: #5C637B;



$layout-xs: 540px;
$layout-s: 720px;
$layout-m: 960px;
$layout-l: 1170px;
